.movies-card-list{
    padding: 70px 70px 80px 70px;
}

.movies-card-list__movies-container{
    display: grid;
}
.movies-card-list__button{
    margin-top: 50px;
    width: 320px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    border: 1px solid #E8E8E8;
    background-color: #fff;
    color: #000000;
    height: 36px;
}