.movies-card {
    background-color: white;
    max-width: 364px;
    height: 271px;
    overflow: hidden;
}
.movies-card__text-and-button{
    padding: 14px 19px 14px 14px;
    display: flex;
    justify-content: space-between;
    
}
.movies-card__text-container{
    
}
.movies-card__name {
    text-align: left;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style : normal;
    font-weight: 500;
    font-size  : 15px;
    line-height: 18px;
    margin: 0 0 9px 0;
    color: #000000;
}

.movies-card__duration {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style : normal;
    font-weight: normal;
    font-size  : 11px;
    line-height: 13px;
    text-align: left;
    margin: 0;
    color: #A0A0A0;
}

.movies-card__button{
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    background-image: url('../../images/saveButton.svg');
}
.movies-card__button_type_saved-movie{
    background-image: url("../../images/crossMark.svg");
}
.movies-card__button:hover{
    cursor: pointer;
    opacity: 0.8;
}
.movies-card__button_active{
    background-image: url("../../images/saveButtonActive.svg");
}
.movies-card__image{
    width: 100%;
}
.movies-card__button-image{
    width: 100%;
    height: 100%;
}

@media screen and (max-width:768px) {
    .movies-card{
        max-width: 339px;
        height: 190px;
    }
    .movies-card__text-and-button{
        padding-right: 14px;
    }
}

@media screen and (max-width: 550px) {
    .movies-card{
        max-width: 300px;
        height: 236px;
    }
}