.header {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.header__logo {
    margin      : 18px 0;
    width       : 38px;
    height      : 38px;
    margin-right: 44px;
}

.header__logo-and-links {
    display: flex;
}

.header__links {
    display    : flex;
    align-items: center;
}

.header__link {
    margin         : 0 16px 0 0;
    text-decoration: none;
    font-family    : 'Inter', 'Arial', sans-serif;
    font-style     : normal;
    font-weight    : 500;
    font-size      : 13px;
    line-height    : 18px;

    color: #000000;
}

.header__button {
    padding    : 0;
    border     : 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style : normal;
    font-weight: 500;
    font-size  : 12px;
    line-height: 16px;

}

.header__button_type_registration {
    margin-right    : 30px;
    color           : #000000;
    background-color: transparent;
}

.header__button_type_log-in {
    color        : white;
    background   : #3456F3;
    border-radius: 3px;
    padding      : 8px 20px;
}

@media screen and (max-width: 550px) {
    .header__button {
        font-size  : 10px;
        line-height: 16px;
    }
}