.App {
  text-align: center;
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
}



@media screen and (max-width: 768px) {
  .test{
    max-width: 668px
  }
}

@media screen and (max-width: 550px){
  .test{
    max-width: 292px;
  }
}